@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600&display=swap");

:root {
  font-size: 62.5%;
  font-family: "Source Sans Pro";
}

body {
  @apply text-14 text-gray-800 leading-none bg-gray-100;
}

:active {
  -webkit-tap-highlight-color: transparent;
}

::-ms-clear {
  display: none;
}

button:focus,
:focus {
  outline: none;
}
