<script>
export default {
  functional: true,
  inheritAttrs: false,
  render(h, { data, listeners, children }) {
    return [
      h("input", {
        on: listeners,
        attrs: { ...data.attrs, type: "checkbox" },
        class: "hidden"
      }),
      h(
        "label",
        {
          attrs: { for: data.attrs.id },
          staticClass: data.staticClass,
          staticStyle: data.staticStyle,
          class: { "checkbox rounded-xs": true, "pl-24": children }
        },
        children
      )
    ];
  }
};
</script>

<style lang="postcss">
.checkbox {
  @apply relative;
  min-width: 1.4rem;
  min-height: 1.4rem;

  &::before {
    @apply absolute block border border-gray-500 cursor-pointer left-0;
    content: "";
    width: 1.4rem;
    height: 1.4rem;
  }
}

input:checked + .checkbox {
  &::before {
    @apply bg-green border-none;
  }

  &::after {
    @apply pointer-events-none;
    content: "";
    position: absolute;
    display: block;
    width: 0.5rem;
    height: 0.8rem;
    border-color: white;
    border-width: 0 0.2rem 0.2rem 0;
    left: 0.5rem;
    top: -0.3rem;
    bottom: 0;
    transform: rotate(45deg);
    margin: auto;
  }
}
</style>
