<script>
import Btn from "../common/Btn";
import overlayMixin from "@/mixins/overlayMixin";

export default {
  inheritAttrs: false,
  mixins: [overlayMixin("isDropdownVisible", "dropdown")],
  name: "DropdownBtn",
  props: {
    btnText: { type: String, required: true }
  },
  components: { Btn },
  methods: {
    closeDropdown() {
      this.isDropdownVisible = false;
    }
  }
};
</script>

<template>
  <div ref="dropdown" class="relative">
    <Btn
      v-bind="$attrs"
      v-on="{
        ...$listeners,
        click: () => (this.isDropdownVisible = !this.isDropdownVisible)
      }"
      hollow
      class="relative"
      style="padding-right:2.6rem"
      >{{ btnText }}
      <svg
        v-svg
        symbol="chevron"
        size="24"
        role="presentation"
        class="absolute transform"
        :class="{
          'rotate-90': isDropdownVisible,
          '-rotate-90': !isDropdownVisible
        }"
        style="right:2px"
      />
    </Btn>
    <div
      class="min-w-full absolute shadow rounded bg-white mt-10 right-0 p-16"
      :class="{ block: isDropdownVisible, hidden: !isDropdownVisible }"
    >
      <slot :close-dropdown="closeDropdown" />
    </div>
  </div>
</template>
