<script>
export default {
  props: {
    visible: { type: Boolean, required: true }
  }
};
</script>

<template>
  <div
    class="absolute bg-white rounded shadow p-16"
    :class="{ block: visible, hidden: !visible }"
  >
    <slot />
  </div>
</template>
