<script>
export default {
  props: {
    color: { type: String, default: "#fff" }
  }
};
</script>

<template functional>
  <svg
    v-bind="data.attrs"
    class="select-none"
    :style="data.staticStyle"
    :class="data.staticClass"
    viewBox="0 0 40 40"
    xmlns="http://www.w3.org/2000/svg"
  >
    <defs>
      <linearGradient x1="8.042%" y1="0%" x2="65.682%" y2="23.865%" id="a">
        <stop :stop-color="props.color" stop-opacity="0" offset="0%" />
        <stop :stop-color="props.color" stop-opacity=".631" offset="63.146%" />
        <stop :stop-color="props.color" offset="100%" />
      </linearGradient>
    </defs>
    <g
      transform="rotate(-124.194 18.765 18.235)"
      fill="none"
      fill-rule="evenodd"
    >
      <path d="M36 18c0-9.94-8.06-18-18-18" stroke="url(#a)" stroke-width="2">
        <animateTransform
          attributeName="transform"
          type="rotate"
          from="0 18 18"
          to="360 18 18"
          dur="0.9s"
          repeatCount="indefinite"
        />
      </path>
    </g>
  </svg>
</template>
