<script>
import Btn from "../common/Btn";
import AsyncBtn from "../common/AsyncBtn";
import overlayMixin from "@/mixins/overlayMixin";
import { pluralize } from "@/utils";
import Modal from "../common/Modal";

export default {
  name: "DeleteItemsModal",
  props: {
    selectedItems: { type: Array, required: true },
    deleteItems: { type: Function, required: true }
  },
  data() {
    return { deleting: false };
  },
  components: { Btn, AsyncBtn, Modal },
  mixins: [overlayMixin("isOpen", "modal")],
  computed: {
    selectedItemsLength() {
      return this.selectedItems.length;
    }
  },
  methods: {
    pluralize,
    async handleItemsDelete() {
      this.deleting = true;
      const result = await this.deleteItems();
      this.deleting = false;
      if (result) this.isOpen = false;
    }
  }
};
</script>

<template>
  <div ref="modal" class="relative">
    <Btn
      v-bind="
        selectedItemsLength > 0
          ? { ...$attrs, filled: true }
          : { ...$attrs, hollow: true, disabled: true }
      "
      :class="{ 'bg-green-light': $attrs.disabled }"
      @click="isOpen = !isOpen"
      >Delete{{ selectedItemsLength ? ` (${selectedItems.length})` : "" }}</Btn
    >
    <Modal
      :visible="isOpen"
      class="min-w-280 flex flex-col justify-center items-center mt-10 whitespace-no-wrap"
      style="transform:translateX(38%);right:50%"
    >
      <p class="mb-16">
        Are you sure you want to delete
        <span class="font-semibold"
          >{{ pluralize(selectedItems.length, ["item", "items"]) }}?</span
        >
      </p>
      <div class="flex">
        <AsyncBtn
          filled
          :loading="deleting"
          class="mr-16 flex justify-center items-center"
          style="min-width:6.3rem;padding:0"
          @click="handleItemsDelete"
          >Confirm</AsyncBtn
        >
        <Btn hollow @click="isOpen = false">Cancel</Btn>
      </div>
    </Modal>
  </div>
</template>
