<script>
import Btn from "../common/Btn";

export default {
  name: "Pagination",
  components: { Btn },
  props: {
    data: { type: Object, required: true },
    disabled: { type: Boolean, default: false }
  },
  computed: {
    rangeStart() {
      return (this.data.currentPage - 1) * this.data.perPage + 1;
    },
    rangeEnd() {
      return this.rangeStart + this.data.itemsLength - 1;
    }
  }
};
</script>

<template>
  <div class="flex items-center">
    <Btn
      hollow
      :disabled="disabled || data.currentPage === 1"
      style="padding:0.3rem"
      @click="$emit('prev-page')"
    >
      <svg v-svg symbol="chevron" size="24" role="presentation" />
    </Btn>
    <p class="px-8 font-semibold">
      {{ rangeStart }}-{{ rangeEnd }} <span class="font-normal">of</span>
      {{ data.maxLength }}
    </p>
    <Btn
      hollow
      :disabled="disabled || data.currentPage === data.maxPage"
      style="padding:0.3rem"
      @click="$emit('next-page')"
    >
      <svg
        v-svg
        symbol="chevron"
        size="24"
        role="presentation"
        class="transform rotate-180"
      />
    </Btn>
  </div>
</template>
