<script>
import Checkbox from "@/components/common/Checkbox";
import Modal from "../common/Modal";
import Btn from "../common/Btn";
import overlayMixin from "@/mixins/overlayMixin";
import AsyncBtn from "../common/AsyncBtn";

const CLASS_TABLE_ROW = "table-r";
const CLASS_TABLE_HEADER = "table-h";
const CLASS_SELECTED_ROW = "selected";

export default {
  name: "TableCmp",
  mixins: [overlayMixin("isDeleteModalOpen", "deleteModal")],
  props: {
    sortSettings: { type: Object, required: true },
    columns: { type: Array, required: true },
    selectedItems: { type: Array, required: true },
    columnStyles: { type: Object, default: () => ({}) },
    data: { type: Array, required: true },
    deleteItem: { type: Function, required: true }
  },
  components: { Checkbox, Modal, Btn, AsyncBtn },
  data() {
    return {
      deleteModalPos: {
        left: 0,
        top: 0
      },
      deleting: false,
      deleteItemId: null
    };
  },
  computed: {
    sortColumnIndex() {
      const activeSortFiled = this.sortSettings.field;
      return this.columns.findIndex(column => column.key === activeSortFiled);
    },
    computedColumns() {
      return [
        ...this.columns.slice(0, this.sortColumnIndex),
        ...this.columns.slice(this.sortColumnIndex + 1)
      ];
    }
  },
  methods: {
    handleTableClick($e) {
      // case checkbox
      if ($e.target.control) {
        const id = $e.target.htmlFor;
        this.$emit("selection-change", id === "check-all" ? null : Number(id));
        // case delete product button
      } else if ($e.target.attributes.getNamedItem("data-item-id")) {
        $e.stopPropagation();

        if (!this.isDeleteModalOpen) {
          const itemId = Number(
            $e.target.attributes.getNamedItem("data-item-id").value
          );
          this.deleteItemId = itemId;
          const { left, top } = $e.target.getBoundingClientRect();

          this.deleteModalPos.left = left + "px";
          this.deleteModalPos.top = top + 16 + window.scrollY + "px";
        }

        this.isDeleteModalOpen = !this.isDeleteModalOpen;
      } else {
        // case table row click
        for (const el of $e.path) {
          if (
            el.classList &&
            el.classList.contains(CLASS_TABLE_ROW) &&
            !el.classList.contains(CLASS_TABLE_HEADER)
          ) {
            const selectedRow = this.$options.selectedRow;
            if (el === selectedRow) {
              el.classList.toggle(CLASS_SELECTED_ROW);
            } else {
              selectedRow && selectedRow.classList.remove(CLASS_SELECTED_ROW);
              el.classList.add(CLASS_SELECTED_ROW);
              this.$options.selectedRow = el;
            }

            break;
          }
        }
      }
    },
    async handleItemDelete() {
      this.deleting = true;
      const result = await this.deleteItem(this.deleteItemId);
      this.deleting = false;
      if (result) this.isDeleteModalOpen = false;
    }
  }
};
</script>

<template>
  <div
    v-if="columns.length > 0"
    class="flex flex-col w-full bg-white rounded table-container"
    @click.prevent="handleTableClick"
  >
    <div
      class="table-r table-h flex min-h-50 font-semibold border-b border-gray-300"
    >
      <div class="w-80 flex flex-shrink-0 justify-center items-center">
        <Checkbox
          id="check-all"
          :checked="selectedItems.length === data.length"
        />
      </div>
      <div
        class="flex items-center text-green"
        :class="
          columnStyles[columns[sortColumnIndex].key] || columnStyles.default
        "
      >
        <button
          class="flex items-center cursor-pointer select-none font-semibold"
          @click.stop="$emit('sort-order-change')"
        >
          {{ columns[sortColumnIndex].name }}
          <svg
            v-svg
            symbol="arrow"
            size="24"
            style="margin-top:0.2rem"
            class="transform text-gray-800"
            :class="{ 'rotate-180': sortSettings.order === 1 }"
            role="presentation"
          />
        </button>
      </div>
      <div
        v-for="column in computedColumns"
        :key="column.key"
        class="flex items-center"
        :class="columnStyles[column.key] || columnStyles.default"
      >
        {{ column.name }}
      </div>
      <div class="min-w-94"></div>
    </div>
    <div class="table-body">
      <div v-for="d in data" :key="d.id" class="table-r flex min-h-50">
        <div class="w-80 flex flex-shrink-0 justify-center items-center">
          <Checkbox
            :id="d.id"
            :checked="selectedItems.find(item => item.id === d.id)"
          />
        </div>
        <div
          class="flex items-center"
          :class="
            columnStyles[columns[sortColumnIndex].key] || columnStyles.default
          "
        >
          {{ d[columns[sortColumnIndex].key] }}
        </div>
        <div
          v-for="column in computedColumns"
          :key="column.key"
          class="flex items-center"
          :class="columnStyles[column.key] || columnStyles.default"
        >
          {{ d[column.key] }}
        </div>
        <div class="table-r-actions flex justify-center items-center min-w-94">
          <button class="flex items-center" :data-item-id="d.id">
            <svg
              v-svg
              symbol="bin"
              size="16"
              role="presentation"
              class="mr-8 pointer-events-none"
            />delete
          </button>
        </div>
      </div>
    </div>
    <div ref="deleteModal">
      <Modal
        :visible="isDeleteModalOpen"
        class="min-w-280 flex flex-col justify-center items-center mt-10 whitespace-no-wrap transform -translate-x-1/2"
        :style="deleteModalPos"
      >
        <p class="mb-16">
          Are you sure you want to
          <span class="font-semibold">delete item?</span>
        </p>
        <div class="flex">
          <AsyncBtn
            filled
            :loading="deleting"
            class="mr-16 py-0 flex justify-center items-center"
            style="min-width:6.3rem;padding:0"
            @click="handleItemDelete"
          >
            Confirm
          </AsyncBtn>
          <Btn hollow @click="isDeleteModalOpen = false">Cancel</Btn>
        </div>
      </Modal>
    </div>
  </div>
  <div
    v-else
    class="flex items-center justify-center bg-white min-h-50 rounded font-bold text-gray-500 uppercase"
  >
    Select columns
  </div>
</template>

<style lang="postcss">
.table {
  &-body {
    & > :nth-child(2n) {
      @apply bg-gray-200;
    }
  }

  &-r {
    &-actions {
      visibility: hidden;
    }

    &.selected {
      @apply bg-green-light;

      & > :nth-child(2) {
        @apply font-semibold;
      }

      & .table-r-actions {
        visibility: visible;
      }
    }
  }
}
</style>
