<script>
import Pagination from "./Pagination";
import Btn from "../common/Btn";
import DropdownBtn from "../common/DropdownBtn";
import Checkbox from "../common/Checkbox";
import DeleteItemsModal from "./DeleteItemsModal";
import { pluralize } from "@/utils";

export default {
  name: "TableActions",
  components: { Pagination, Btn, DropdownBtn, Checkbox, DeleteItemsModal },
  props: {
    columns: { type: Array, required: true },
    selectedColumns: { type: Array, required: true },
    selectedItems: { type: Array, required: true },
    sortField: { type: String, required: true },
    pagination: { type: Object, required: true },
    deleteSelectedItems: { type: Function, required: true }
  },
  computed: {
    noColumnsSelected() {
      return this.selectedColumns.length === 0;
    }
  },
  methods: {
    pluralize,
    handleSelectedClick($e) {
      if ($e.target.control) {
        const id = $e.target.htmlFor;
        this.$emit("selected-columns-change", id === "check-all" ? null : id);
      }
    }
  }
};
</script>

<template>
  <div class="flex justify-between text-gray-700">
    <div class="flex items-center">
      <template v-if="selectedColumns.length > 0">
        <p class="font-semibold mr-8">Sorting by:</p>
        <ul class="flex items-center between-children-8">
          <li v-for="column in selectedColumns" :key="column.key">
            <Btn
              :filled="sortField === column.key"
              @click="$emit('sort-field-change', column.key)"
              >{{ column.name }}</Btn
            >
          </li>
        </ul>
      </template>
      <p v-else class="font-bold text-gray-600">No selected columns</p>
    </div>
    <div class="flex between-children-16">
      <DeleteItemsModal
        :disabled="noColumnsSelected"
        :selected-items="selectedItems"
        :deleteItems="deleteSelectedItems"
      />
      <DropdownBtn
        :disabled="noColumnsSelected"
        :btn-text="`${pagination.perPage} Per Page`"
      >
        <template v-slot:default="{ closeDropdown }">
          <ul class="w-full whitespace-no-wrap -my-16">
            <li
              v-for="num in [10, 15, 20]"
              :key="num"
              class="flex -mx-16 hover:bg-gray-200"
            >
              <button
                class="w-full h-full p-10 text-left"
                @click="
                  () => {
                    closeDropdown();
                    $emit('perpage-change', num);
                  }
                "
              >
                {{ num }}
              </button>
            </li>
          </ul>
        </template>
      </DropdownBtn>
      <Pagination
        :data="pagination"
        :disabled="noColumnsSelected"
        @next-page="$listeners['next-page']"
        @prev-page="$listeners['prev-page']"
      />
      <DropdownBtn
        :btn-text="
          `${pluralize(selectedColumns.length, ['column', 'columns'])} selected`
        "
      >
        <ul
          class="whitespace-no-wrap select-none v-between-children-20"
          @click.prevent="handleSelectedClick"
        >
          <li class="font-semibold flex">
            <Checkbox
              :checked="selectedColumns.length === columns.length"
              id="check-all"
              >Select All</Checkbox
            >
          </li>
          <li v-for="column in columns" :key="column.key" class="flex">
            <Checkbox
              :id="column.key"
              :checked="
                selectedColumns.find(selCol => selCol.key === column.key)
              "
              >{{ column.name }}</Checkbox
            >
          </li>
        </ul>
      </DropdownBtn>
    </div>
  </div>
</template>
