<script>
import TableCmp from "@/components/table/TableCmp";
import TableActions from "@/components/table/TableActions";

export default {
  inheritAttrs: false,
  name: "TableComponent",
  props: {
    columns: { type: Array, required: true },
    data: { type: Array, required: true },
    sortSettings: { type: Object, required: true },
    pagination: { type: Object, required: true },
    deleteItems: { type: Function, default: () => {} }
  },
  components: { TableActions, TableCmp },
  data() {
    return {
      selectedItems: [],
      selectedColumns: [...this.columns]
    };
  },
  watch: {
    selectedColumns(newCols) {
      if (newCols.length === 0) {
        this.$listeners["sort-field-change"]("");
        return;
      }

      const selSortField = this.sortSettings.field;

      if (!selSortField || !newCols.find(col => col.key === selSortField)) {
        this.$listeners["sort-field-change"](newCols[0].key);
      }
    }
  },
  methods: {
    changeSelected(field, cmpField, items, selectedItems) {
      if (field) {
        const index = this[selectedItems].findIndex(o => o[cmpField] === field);
        if (index !== -1) {
          this[selectedItems].splice(index, 1);
        } else {
          this[selectedItems].push(
            this[items].find(o => o[cmpField] === field)
          );
        }
      } else {
        if (this[selectedItems].length === this[items].length) {
          this[selectedItems] = [];
        } else {
          this[selectedItems] = [...this[items]];
        }
      }
    },
    async deleteItem(id) {
      const result = await this.$listeners["delete-items"](id);
      if (result) {
        this.selectedItems = this.selectedItems.filter(item => item.id !== id);
      }

      return result;
    },
    async deleteSelectedItems() {
      const result = await this.$listeners["delete-items"](this.selectedItems);
      if (result) this.selectedItems = [];

      return result;
    },
    updateSelectedAndDo(
      name,
      $e,
      fn = selectedItems => {
        if (selectedItems.length > 0) {
          selectedItems = [];
        }
      }
    ) {
      fn(this.selectedItems, $e);

      this.$listeners[name]($e);
    }
  }
};
</script>

<template>
  <div>
    <TableActions
      class="mb-16"
      :columns="columns"
      :selectedColumns="selectedColumns"
      :selected-items="selectedItems"
      :sort-field="sortSettings.field"
      :pagination="pagination"
      :delete-selected-items="deleteSelectedItems"
      @sort-field-change="updateSelectedAndDo('sort-field-change', $event)"
      @next-page="updateSelectedAndDo('next-page')"
      @prev-page="updateSelectedAndDo('prev-page')"
      @perpage-change="
        updateSelectedAndDo(
          'perpage-change',
          $event,
          (selectedItems, perPage) => {
            if (selectedItems.length > perPage) {
              selectedItems.splice(perPage);
            }
          }
        )
      "
      @selected-columns-change="
        changeSelected($event, 'key', 'columns', 'selectedColumns')
      "
    />
    <TableCmp
      :columns="selectedColumns"
      :column-styles="{
        product: 'flex-grow',
        default: 'min-w-150'
      }"
      :data="data"
      :selected-items="selectedItems"
      :sort-settings="sortSettings"
      :delete-item="deleteItem"
      @sort-order-change="updateSelectedAndDo('sort-order-change')"
      @selection-change="changeSelected($event, 'id', 'data', 'selectedItems')"
    />
  </div>
</template>
