<script>
import TableComponent from "@/components/table/TableComponent";
import Spinner from "@/components/common/Spinner";
import Btn from "@/components/common/Btn";
import { mapState, mapGetters, mapMutations } from "vuex";
import { SORT_ORDER } from "@/utils/constants";

export default {
  name: "App",
  components: { TableComponent, Spinner, Btn },
  data() {
    return {
      loadingProducts: false
    };
  },
  computed: {
    ...mapState("products", ["sortSettings"]),
    ...mapState("errors", { errorList: "list" }),
    ...mapGetters("products", { products: "getProductsForPage" }),
    columns() {
      return [
        { name: "Product (100g serving)", key: "product" },
        { name: "Calories", key: "calories" },
        { name: "Fat (g)", key: "fat" },
        { name: "Carbs (g)", key: "carbs" },
        { name: "Protein (g)", key: "protein" },
        { name: "Iron (%)", key: "iron" }
      ];
    },
    pagination() {
      const { currentPage, perPage } = this.$store.state.products;
      const maxPage = this.$store.getters["products/maxPage"];
      const maxItems = this.$store.getters["products/maxItems"];
      const products = this.products;

      return {
        currentPage,
        maxPage,
        perPage,
        itemsLength: products.length,
        maxLength: maxItems
      };
    }
  },
  created() {
    this.loadProducts();
  },
  methods: {
    ...mapMutations("products", [
      "setPerPage",
      "setPage",
      "setSortField",
      "setSortSettings"
    ]),
    changeSortField(field) {
      this.setSortSettings({ field });
    },
    changeSortOrder() {
      this.setSortSettings({
        order:
          this.sortSettings.order === SORT_ORDER.ASC
            ? SORT_ORDER.DESC
            : SORT_ORDER.ASC
      });
    },
    async loadProducts() {
      this.loadingProducts = true;
      await this.$store.dispatch("products/loadProducts");
      this.loadingProducts = false;
    },
    deleteProducts(products) {
      const productIds = Array.isArray(products)
        ? products.map(product => product.id)
        : [products];
      return this.$store.dispatch("products/deleteProducts", productIds);
    }
  }
};
</script>

<template>
  <div class="relative flex justify-center p-32">
    <div class="w-full max-w-1180">
      <h1 class="text-32 font-semibold mb-16">Table UI</h1>
      <hr class="border-gray-300 mb-16" />
      <TableComponent
        v-if="products.length > 0"
        :columns="columns"
        :data="products"
        :sort-settings="sortSettings"
        :pagination="pagination"
        @sort-field-change="changeSortField"
        @sort-order-change="changeSortOrder"
        @perpage-change="setPerPage"
        @delete-items="deleteProducts"
        @next-page="setPage(pagination.currentPage + 1)"
        @prev-page="setPage(pagination.currentPage - 1)"
      />
      <div v-else class="flex flex-col justify-center items-center">
        <Spinner
          v-if="loadingProducts"
          color="#00A11E"
          width="5rem"
          height="5rem"
        />
        <template v-else
          >Cound't load products.
          <Btn filled class="mt-16" @click="loadProducts"
            >Try again</Btn
          ></template
        >
      </div>
    </div>
    <ul
      v-if="errorList.length > 0"
      class="fixed right-0 mr-16 v-between-children-10"
    >
      <li
        v-for="error in errorList"
        :key="error.id"
        class="p-16 bg-red text-white rounded"
      >
        {{ error.message }}
      </li>
    </ul>
  </div>
</template>

<style lang="postcss">
@import "./assets/css/styles.css";
</style>
